*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  font: var(--baseFontWeight) var(--baseFontSize) / var(--baseLineHeight)
    var(--baseFontFamily);
}

.container {
  max-width: 161.25rem;
  margin: 0 auto;
  background-color: rgba(255, 192, 203, 0.226);

  @media (max-width: 1290px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
