.advantages {
  margin-top: 120px;
  min-height: 50vh;

  @media (max-width: 390px) {
    margin-top: 107px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-flow: row;
    width: 100%;
    gap: 30px;

    @media (max-width: 960px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: 390px) {
      gap: 40px;
    }
  }

  &__item {
    display: inline-flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 44px;
    width: 100%;

    @media (max-width: 390px) {
      gap: 41px;
    }
  }

  &__textContent {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 23px;

    @media (max-width: 390px) {
      gap: 16px;
    }
  }

  &__title {
    font-size: 3rem;
    font-family: "Montserrat";
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;

    @media (max-width: 390px) {
      line-height: 25px;
    }
  }

  &__description {
    font-size: 20px;
    font-family: "FuturaDemic";
    font-weight: 400;
    text-align: center;
    line-height: 20px;

    @media (max-width: 390px) {
      line-height: 25px;
    }
  }
}
