.banner {
  position: relative;
  min-height: 810px;
  background: url(/assets/bannerBg.png) center/cover;

  @media (max-width: 390px) {
    min-height: 709px;
  }

  &__content {
    display: flex;
    justify-content: space-around;
    padding-top: 200px;

    @media (max-width: 940px) {
      justify-content: space-between;
    }

    @media (max-width: 900px) {
      justify-content: space-around;
    }

    @media (max-width: 540px) {
      display: block;
    }

    @media (max-width: 530px) {
      overflow: hidden;
    }

    @media (max-width: 390px) {
      padding-top: 120px;
    }
  }

  &__phoneImg {
    @media (max-width: 900px) {
      display: none;
    }
  }

  &__badge {
    position: absolute;
    bottom: 97.55%;
    left: 54.9%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 244px;
    height: 40px;
    background-color: #29d3d1;
    font-size: 2rem;
    font-family: "Montserrat";
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -5%;

    @media (max-width: 540px) {
      left: 35%;
    }

    @media (max-width: 390px) {
      left: 37%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 14px;
      height: 12px;
      background: url("/assets/polygon.svg") center/cover;
    }
  }

  &__textContent {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 103px;
  }

  &__title {
    font-size: 76px;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 300;
    color: #fff;

    &--bold {
      font-weight: 700;
    }

    @media (max-width: 540px) {
      font-size: 55px;
    }
  }

  &__toLoadText {
    position: relative;
    font-size: 2rem;
    font-family: "Montserrat";
    font-weight: 300;
    letter-spacing: 0%;
    padding-right: 28px;
    margin-top: -12px;
    color: #fff;

    @media (max-width: 500px) {
      padding-right: 0;
    }

    @media (max-width: 390px) {
      margin-top: 0;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;

      min-width: 184px;
      background-color: #fff;
      height: 1px;
    }

    &::before {
      right: 110%;

      @media (max-width: 500px) {
        right: 110%;
      }
    }

    &:after {
      left: 84%;

      @media (max-width: 500px) {
        left: 110%;
      }
    }
  }

  &__storeLinks {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    margin-top: 17px;
    padding-right: 27px;

    @media (max-width: 530px) {
      padding-right: 0;
      justify-content: center;
    }

    @media (max-width: 390px) {
      margin-top: 25px;
    }
  }

  &__storeLink {
    margin: 0;
    padding: 0;
  }

  &__scrollDownButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    flex-flow: row;
    gap: 24px;
    padding: 17px 60px;
    border-radius: 15px;
    background-color: #29d3d1;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 600;
    letter-spacing: -5%;
    transform: translate(-50%, 50%);
    box-shadow: 1px 4px 24px 0px rgba(34, 60, 80, 0.35);
  }
}
